
body {
	padding-top: 50px;
}

#headerWrapper{
	position:relative;
	padding:0;
	margin:0;
	overflow:hidden;
	height:600px;
	background-image: url(../large-blured.jpg);
	background-repeat: no-repeat;
	background-size: 100% 900px;
	background-position: top center;
	background-attachment: fixed;
	
}

#logotext{
	position: absolute;
	width: 100%;
	height:180px;
	background-image: url(../placebo-logo.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: 50% 180px;
	top: 50%;
	margin-top:-90px;
}
.img-thumb{
	width:auto;
	height:200px;
	
}

#footer{
	margin-top:50px;
}





